@import "toggleswitch.css";


.fullRow {
	width:100%;
	right: 10px;
}

#title {
	text-align: center;
	color: #054750;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

#subtitle{
	text-align: center;
	color: #0c747f;
	margin-bottom: 50px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

#outer {
	margin-left: 10%;
	margin-right: 10%;
}

#search {
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
    border-radius: 15px;
    width: 100px;
}

#search:focus{
	outline: none;
}

#wordInput {
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
	border-radius: 2px;
	width: 250px;
}

#wordInput:focus{
	outline: none;
}

#listInputs {
	margin-bottom: 10px;
	margin-left: 0px;
}

#list {
	width: 100%;
}


.wordItem {
	list-style: none;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:10px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 2px;
	margin-left: -40px;
	transition: all 0.3s ease;
}

.wordItem:hover{
	margin-left: -60px;
	margin-right: -20px;
	border-color: #4499A8;
	border-width: 2px;
}

#removeIcon{
	margin-right: 3px;
}

.removeButton {
	background-color: white;
	border-style: none;
	padding-left: 20px;
	font-weight: bold;
	font-size: 15px;
}

.removeButton:hover{
	font-size: 17px;
}

.removeButton:focus {
	outline: 0;
}

@media only screen and (min-width: 991px)  {
	#outer{
		width: 80%;
	}
}